<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3>hello eveyone 1+2</h3>
    <h3> <%= 1+2  %> </h3>
    <h3> <%= 2*10  %> </h3>
    <h3> <%=  "apnacollege".toUpperCase()  %> </h3>
    <h3> <%= ["hello","hi","ok"][0]  %> </h3>
    <h3> <%= console.log("hello kaka")  %> </h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, illum, qui nam, esse cumque dicta odio temporibus saepe consequatur amet magni iste eaque sit eos nisi voluptatibus dolore natus ullam.
    Doloribus incidunt vitae voluptatibus alias vero dolor iure nihil aliquam sint, expedita praesentium accusamus totam corrupti earum tempore neque soluta sapiente animi nisi at, atque saepe similique laudantium in? Officia!
    Quo enim ea animi esse culpa totam quam amet quas velit labore ipsum quis eius a tenetur maiores nostrum aut possimus distinctio excepturi, iste modi est? Placeat aliquid assumenda ab?</p>
    <button>Click Me!</button>
</body>
</html>